
<div class="album-container">
  <div class="album-container__header">
    <h3>
      All Albums
    </h3>
    <input class="search" type="text" placeholder="Type album name..." #query (keyup) = "filterAllAlbums(query.value)"/>
  </div>
  <div class="results-counter__container">{{filteredAlbums.length}} albums found</div>

  <div
    class="albums-list__container"
    *ngFor="let album of filteredAlbums; let i = index"
  >
  <button (click)="deleteAlbum(album._id)" class="btn-delete">
    <fa-icon [icon] = "faTimes" ></fa-icon>
  </button>
    <div class="albums-list__marker"></div>

    <div class="albums-list__header">
      <img
        [src]="album.coverUrl"
        alt=""
      />
      <h4>{{ album.title }}</h4>
    </div>
    <div class="albums-list__date">
      <ul>
        <li>
          year: <span>{{ album.year }}</span>
        </li>
        <li>
          genre: <span>{{ album.genre }}</span>
        </li>
      </ul>
    </div>

    <div class="albums-list__artist">
       <fa-icon [icon] = "faUserTag" ></fa-icon><span>{{album.artistName}}</span>
    </div>
  </div>
</div>
